@charset "UTF-8";

/*!
 * Custom style sheet for unfoldingWord web app
 * Most of these are overrides of the reveal defaults
 */

/*! Don't show bullets in meny menu */
.meny ul {
    list-style-type: none;
    margin-left: -20px;
}

.meny a {
    color: #fff;
}

.meny-arrow {
    position: absolute;
    z-index: 10;

    border: 10px solid transparent;

    -webkit-transition: opacity 0.4s ease 0.4s;
       -moz-transition: opacity 0.4s ease 0.4s;
        -ms-transition: opacity 0.4s ease 0.4s;
         -o-transition: opacity 0.4s ease 0.4s;
            transition: opacity 0.4s ease 0.4s;
}
    .meny-left .meny-arrow {
        left: 14px;
        top: 50%;
        margin-top: -16px;
        border-left: 16px solid #fff;
    }
    .meny-right .meny-arrow {
        right: 14px;
        top: 50%;
        margin-top: -16px;
        border-right: 16px solid #fff;
    }
    .meny-top .meny-arrow {
        left: 50%;
        top: 14px;
        margin-left: -16px;
        border-top: 16px solid #fff;
    }
    .meny-bottom .meny-arrow {
        left: 50%;
        bottom: 14px;
        margin-left: -16px;
        border-bottom: 16px solid #fff;
    }
    .meny-active .meny-arrow {
        opacity: 0;

        -webkit-transition: opacity 0.2s ease;
           -moz-transition: opacity 0.2s ease;
            -ms-transition: opacity 0.2s ease;
             -o-transition: opacity 0.2s ease;
                transition: opacity 0.2s ease;
    }

/*! Add shaded background for the text */
.reveal p {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
